# Ignore Nextflow logs and reports
*.nextflow.log
*.html
*.dot


# Ignore Nextflow work directory
work/


# Ignore Nextflow logs
*.nextflow.log*
.nextflow/
.cache/

# ignore results
results/


.DS_Store

