// Define parameters as flat key-value pairs
params.traits_config = "./json_files/GWAS_input.json"
params.outdir = "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap_nf/results"
params.num_random_sets = 1000
params.enrichment_method = "magma"
params.randomization_method = "birewire"
params.bfile = "/sc/arion/projects/psychgen/cotea02_prset/subtyping/magma_test/g1000_eur"
params.geneset_real = "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/pathway_db/msigdb/c2.all.v2023.2.Hs.symbols.gmt_filtered.txt"

params {
  background = 'msigdbgenes'  // or 'realgenes' or whatever else you support

  gene_files = [
    msigdbgenes: "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/msigdbgenes.regions",
    realgenes  : "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/proteincoding.regions"
  ]
}


// for job submission
process{
  withName: run_random_sets {
  executor = 'lsf'
  queue='premium'
  clusterOptions='-P acc_paul_oreilly'
  cpus = '1'
  memory = '4G'
  time = '1h'
}
  withName: run_gene_analysis {
  executor = 'lsf'
  queue='premium'
  clusterOptions = '-P acc_paul_oreilly'
  cpus = '1'
  memory = '50000 MB'
  time = '5h'
  }
}

executor {
  queueSize = 1000  // Control how many jobs are submitted at once
}