// Define parameters as flat key-value pairs
params.traits_config = "./json_files/GWAS_input.json"
params.outdir = "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap_nf/results"
params.num_random_sets = 1000
params.enrichment_method = "magma"
params.randomization_methods = ['birewire','keeppathsize']
params.bfile = "/sc/arion/projects/psychgen/cotea02_prset/subtyping/magma_test/g1000_eur"
params.geneset_real = "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/pathway_db/msigdb/c2.all.v2023.2.Hs.symbols.gmt_filtered.txt"
params.ukb_dir = "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap_nf/data/ukb/"

//workflow control parameters
params.run_magma = true
params.run_prset = true
params.run_empirical = true
params.run_tissue_specificity = true
params.run_opentargets = true
params.run_ot_viz = false  // Add this line - default to false

params {
  background = 'msigdbgenes'

  gene_files = [
    msigdbgenes: "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/msigdbgenes.regions",
    realgenes  : "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/proteincoding.regions"
  ]
  
  // GMT directories for different randomization methods
  gmt_dirs = [
    birewire: "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/randomized_gene_sets/random_birewire",
    keeppathsize: "/sc/arion/projects/psychgen/cotea02_prset/geneoverlap/data/randomized_gene_sets/random_keeppathsize"
  ]

  // Directory for scripts
  scripts_dir = "${projectDir}/scripts"

  opentargets_supported_traits = [
    "t2d", "cad", "ad", "mdd", "scz", "ibd", "breast"
  ]

  opentargets_n_values = "10,20,50,100"

  // tissue specificity data
    tissue_expression_data = "/sc/arion/projects/psychgen/cotea02_prset/judit_revisions/software/1kg_test/GeneExpressionLandscape/data/Exp_Spe_DataTables/specificity"

  opentargets_sig_threshold = 0.00625
}

// for job submission
process{
  withName: run_random_sets {
    executor = 'lsf'
    queue='premium'
    clusterOptions='-P acc_paul_oreilly'
    cpus = '1'
    memory = '4G'
    time = '1h'
  }
  withName: run_gene_analysis {
    executor = 'lsf'
    queue='premium'
    clusterOptions = '-P acc_paul_oreilly'
    cpus = '1'
    memory = '50000 MB'
    time = '5h'
  }
  withName: gwas_remove_dup_snps {
    executor = 'lsf'
    queue='premium'
    cpus = '1'
    memory = '16G'
    time = '20m'
    clusterOptions = '-P acc_paul_oreilly'
  }
  withName: run_random_sets_prset {
    executor = 'lsf'
    queue='premium'
    cpus = '10'
    time = '8h'
    memory = '45G'
    clusterOptions = '-P acc_psychgen'
  }
  withName: calc_empirical_pvalues {
    executor = 'lsf'
    queue = 'premium'
    clusterOptions = '-P acc_paul_oreilly'
    cpus = '1'
    memory = '50G'
    time = '2h'
  }
  withName: 'tissue_specificity_analysis' {
    executor = 'lsf'
    queue = 'premium'
    clusterOptions = '-P acc_paul_oreilly'
    cpus = '2'
    memory = '5G'
    time = '1h'
  }
  withName: 'opentargets_statistics' {
    executor = 'lsf'
    queue = 'premium'
    clusterOptions = '-P acc_paul_oreilly'
    cpus = '1'
    memory = '10G'
    time = '1h'
  }
  withName: 'opentargets_visualization' {
    executor = 'lsf'
    queue = 'premium'
    clusterOptions = '-P acc_paul_oreilly'
    cpus = '1'
    memory = '10G'
    time = '1h'
  }
}

executor {
  queueSize = 300
}
